.login-container {
  width: 50%;
  margin: auto;
  padding: 2rem 0;

  border-radius: 10px;
  background-color: #ffffff8e;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-login {
  background-color: #fdf;
  height: 91vh;
  width: 100%;
}
.form-login {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-login input {
  width: 70%;
  padding: 10px 20px;
  margin: auto;
  border-radius: 5px;
  border: none;
}

.form-login button {
  width: 20%;
  margin: .6rem auto;

  padding:10px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: rgba(255, 68, 0, 0.788);
  cursor: pointer;
  font-size: 16px;
  color: #fdf;
}

.check-priv {
  display: flex;

  margin-left: 11%;
}

.btn-account {
  border: none;
  outline: none;
  background: rgba(255, 221, 255, 0.701);
  color: orangered;
  cursor: pointer;
}
.google-logo {
    text-align: center;
}
